@{
    @model SportsStorenew.Service.Models.GetProductsReasponse

}


<body style="background-color:whitesmoke;margin:70px">



    
    <div class="row">
        
        @foreach (var item in Model.Products)
        {
           // @Html.ActionLink("Details", "Details", new { Id = item.ProductId })
            <div class="card col-3 mb-3 p-1">
                <a href="@Url.Action("Details" , new { Id = item.ProductId })">
                    <img class="card-img-top" src="@item.ThumbnailUrl " alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">  @Html.ActionLink(@item.Name, "Details", new { Id = item.ProductId }) </h5>
                        <p class="card-text">Price : @item.Price</p>
                    </div>
                    </a>
            </div>
        }
    </div>
    
       
    

</body>
