@{
    @model SportsStoreNew.Service.Models.GetProductsReasponse

}

@{

    int Count = 1;
    if (Model.TotalCount % Model.PageSize == 0)
    {
        Count = Model.TotalCount / Model.PageSize;
    }
    else
    {
        Count = Model.TotalCount / Model.PageSize + 1;
    }

}
@{
    var Back = Model.Page - 1;
    if (Back == 0)
    {
        Back = 1;
    }

    var Next = Model.Page + 1;
    if (Model.Page >= Count)
    {
        Next = Count;
    }

}

<body style="background:whitesmoke">
    <div>

        <div class="container">

            <div class="row"style="min-height:550px">

                @foreach (var item in Model.Products)
                {
                    <div class="col-md-3 col-sm-6">
                        <div class="product-grid6">
                            <div class="product-image6">
                                <a href="@Url.Action("Details", new { Id = item.ProductId })">
                                    <img src="@item.ThumbnailUrl">
                                </a>
                            </div>

                            <div class=" ">
                                <a href="@Url.Action("Details", new { Id = item.ProductId })" style="text-decoration:none">
                                    <h3 class="title">@item.Name</h3>
                                    <div class="price">
                                        $@item.Price
                                        <span>$@item.DiscountPrice</span>
                                    </div>
                                </a>
                            </div>
                            <p class="button">
                                <a class="btn btn-primary product-content BtnColor " asp-controller="ShoppingCart" asp-action="AddToShoppingCart"
                                   asp-route-ProductId="@item.ProductId" asp-route-CategoryId="@item.CategoryId ">Add to cart</a>
                            </p>
                        </div>
                    </div>

                }

            </div>
        </div>
        <hr>

    </div>

    <footer>
        <nav aria-label="Page navigation example">
            <ul class="pagination  d-flex justify-content-md-start">

                <li class="page-item"><a class="page-link " asp-area="" asp-controller="Home" asp-action="index" asp-route-page="@Back" asp-route-categoryName="@Model.CategoryName" asp-route-productName="@Model.ProductName"><<</a></li>
                @for (int i = 1; i <= Count; i++)
                {
                    <li class="page-item"><a class="page-link " asp-area="" asp-controller="Home" asp-action="index" asp-route-page="@i" asp-route-categoryName="@Model.CategoryName" asp-route-productName="@Model.ProductName">@i</a></li>
                }

                <li class="page-item"><a class="page-link " asp-area="" asp-controller="Home" asp-action="index" asp-route-page="@Next" asp-route-categoryName="@Model.CategoryName" asp-route-productName="@Model.ProductName">>></a></li>

            </ul>
        </nav>
    </footer>
</body>





